<h2>Produkty</h2>
<table class="uk-table uk-table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Ilosc</th>
    <th>Dostępnosc</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <span></span>
    </td>
    <td style="width: 250px">
      <a></a>
      <a></a>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <a><input style="background-color: #32d296; color: white" class="uk-button" type="button" value="Dodaj produkt"></a>
</div>
